
#mainContainer{
    text-align:center;
}

#titleDescription{
    margin-bottom: 15px;
}

a.listenOption {
    margin: 10px;
    width: 100px;
    text-decoration: none;
}
    a.listenOption img{
        width: 100px;
    }

img.appIcon {
    cursor: pointer;
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
    img.appIcon:hover {
        -moz-transform: scale(1.25);
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }

#mainMixPic {
    display: block;
    width: 66%;
    margin: 20px auto;
}