#mainContainer{

}

#header, #footer {
    padding:0 20px;
    background-color: #00728d;
    color: white;
}
#footer {
    text-align: right;
}

#bodyContent {
    padding: 20px;
    text-align: center;
}

#bodyA {
    margin: 0 auto 15px;
}

#title{
    margin-bottom:10px
}

#titleDescription{
    margin: 0 auto 15px;
}

a.listenOption {
    margin: 10px;
    width: 110px;
    text-decoration: none;
}
    a.listenOption img{
        width: 110px;
    }

img.appIcon {
    cursor: pointer;
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
    img.appIcon:hover {
        -moz-transform: scale(1.25);
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }

#mainMixPic {
    display: block;
    width: 90%;
    margin: auto;
}