<!--<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>-->

<div class="col-xs-6">

	<h2>JamMaster.Max</h2>

	<iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FJamMasterMax%2Fa-lovers-mix%2F&hide_cover=1" frameborder="0"></iframe>

</div>