<!--<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>-->

<div id="mainContainer" class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

	<h1 id="title">JamMaster.Mix</h1>

	<h3 id="titleDescription">This Month's Featured Playlist</h3>

    <a class="listenOption" href="https://itunes.apple.com/us/playlist/17-04/idpl.1ca8de7ad5d4401084b969913a403b5e" target="_blank">
        <img class="appIcon" src="/Content/Assests/US_Listen_on_Apple_Music_Badge.svg" alt="Apple Music" />
    </a>
	<a class="listenOption" href="spotify:user:1248184769:playlist:2WsjbIlF8THPGuxInN01gu" target="_blank">
	    <img class="appIcon" src="/Content/Assests/Spotify_Logo_RGB_Green.png" alt="Spotify" />
	</a>

	<!--<a class="listenOption">
	    <img src="/Content/Assests/Mixcloud-logo.jpg" alt="Mixcloud" />
	</a>-->
    
    <img id="mainMixPic" src="/Content/Assests/17-04 MixPic.JPG" alt="MixPic" />
</div>