<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
	<link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/Content/normalize.css">
    <link rel="stylesheet" type="text/css" href="/Content/main.css">
</head>
<body>
	<div id="mainContainer" class="container-fluid">
		<div id="header" class="row">
		    <h1 id="title">jammaster.mix</h1>
		</div>
		<div id="bodyContent">
	        @RenderBody()
        </div>
		<div id="footer" class="row text-right">
		    <h6>| Maximillian Munguia</h6>
		</div>
	    <script type="text/javscript" src="/Scripts/jquery-3.2.1.js"></script>
        <script type="text/javscript" src="/Scripts/bootstrap.min.js"></script>
	</div>
</body>
</html>