
<div id="bodyA" class="row">
	<h3 id="titleDescription">Featured Playlist</h3>

    <a class="listenOption" href="https://itunes.apple.com/us/playlist/17-04/idpl.1ca8de7ad5d4401084b969913a403b5e" target="_blank">
        <img class="appIcon" src="/Content/Assests/US_Listen_on_Apple_Music_Badge.svg" alt="Apple Music" />
    </a>
	<a class="listenOption" href="spotify:user:1248184769:playlist:2WsjbIlF8THPGuxInN01gu" target="_blank">
	    <img class="appIcon" src="/Content/Assests/Spotify_Logo_RGB_Green.png" alt="Spotify" />
	</a>
</div>

<div class="row col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <img id="mainMixPic" src="/Content/Assests/17-04 MixPic.JPG" alt="MixPic" />
</div>

<p class="clearfix"></p>